<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.3/dist/vue.js"></script>  
  <script type="text/javascript" src="https://rawgit.com/Wlada/vue-carousel-3d/master/dist/vue-carousel-3d.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/amygdalar.css">
  <script type="text/javascript" src="./js/amygdalar.js"></script>
  <title>Vue Carousel3D</title>
</head>

<body>

<div id="row">

<div id="blaRadios" class="funkyradio col-xs-2">
    <div class="anterograde">
        <span>Antegrograde</span>
        <div class="funkyradio-default">
            <input type=radio id="2" value="image2" v-model="picked" v-on:change="change()">            
            <label for="2"><span class="blaam">BLA.am</span>, <span class="blaal">BLA.al</span>, <span class="blaac">BLA.ac</span></label>        
        </div>
        <div class="funkyradio-default">
            <input type=radio id="1" value="image1" v-model="picked" v-on:change="change()">
            <label for="1"><span class="blap">BLAp</span>, <span class="blaal">BLA.al</span></label>      
        </div>        
        <div class="funkyradio-default">
            <input type=radio id="3" value="image3" v-model="picked" v-on:change="change()">
            <label for="3"><span class="blav">BLAv</span>, <span class="la">LA</span>, <span class="bmap">BMAp</span></label>                
        </div>                
    </div>
    <div class="retrograde">
        <span>Retrograde</span>    
        <div class="funkyradio-default">
            <input type=radio id="4" value="image4" v-model="picked" v-on:change="change()">
            <label for="4"><span class="blaam">BLA.am</span>, <span class="blaal">BLA.al</span>, <span class="blaac">BLA.ac</span></label>            
        </div>            
        <div class="funkyradio-default">
            <input type=radio id="5" value="image5" v-model="picked" v-on:change="change()">
            <label for="5"><span class="blap">BLAp</span>, <span class="blaal">BLA.al</span></label>       
        </div>        
        <div class="funkyradio-default">
            <input type=radio id="6" value="image6" v-model="picked" v-on:change="change()">
            <label for="6"><span class="blav">BLAv</span>, <span class="la">LA</span>, <span class="bmap">BMAp</span></label>                            
        </div>                        
    </div>
</div>

    <div id="app" class="col-xs-10">
        <carousel-3d ref="blaCarousel" :count="slides.length" :border="0" :perspective="0" :controls-visible="true" :controls-prev-html="'&#10092;'" :controls-next-html="'&#10093;'" :controls-width="30" :controls-height="60" :width="1200" :height="1000" :display="3" :perspective="0" :inverseScaling="0">
            <slide v-for="(slide, i) in slides" :index="i">
                <img v-bind:src="slide.href">
                <figcaption>{{slide.atlasLevel}}</figcaption>
            </slide>
        </carousel-3d>
    </div>

</div>

<script type="text/javascript">

var car3d = new Vue({
  el: '#app',
  data: {
    slides: imageData.image2
  },
  components: {
    'carousel-3d': Carousel3d.Carousel3d,
    'slide': Carousel3d.Slide
  },
  mounted: function() {
    var self = this;
    window.addEventListener('keyup', function(event) {
        if (event.keyCode == 39) {
            self.$refs.blaCarousel.goNext();
        }
        if (event.keyCode == 37) { 
            self.$refs.blaCarousel.goPrev();
        }
    });
  }  
});


  new Vue({
    el: '#blaRadios',
    data: {
        picked: 'image2'
    },
    methods: {
        change: function change() {
          Vue.set(car3d, 'slides', imageData[this.picked]);
        }
    } 
  });

</script>

</body>
</html>
